{"http_interactions":[{"request":{"method":"get","uri":"https://api.statuspage.io/v1/pages/fz4xvqlmr08r/incidents/scheduled.json","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<AUTH_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "Etag":["\"edfefe5d390f5df922b29a49a82a42e8\""], "Status":["200 OK"], "X-Statuspage-Version":["98fd821ea86077f4d02b2805a410864711a5e609"]},"body":{"encoding":"ASCII-8BIT","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Wed, 02 Dec 2015 20:35:19 GMT"},{"request":{"method":"get","uri":"https://api.statuspage.io/v1/pages/fz4xvqlmr083/incidents/scheduled.json","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<AUTH_TOKEN>"]}},"response":{"status":{"code":401,"message":"Unauthorized"},"headers":{"Content-Type":["application/json"], "Status":["401 Unauthorized"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJlcnJvciI6IkludmFsaWQgYXV0aGVudGljYXRpb24gdG9rZW4uIn0=\n"},"http_version":null},"recorded_at":"Wed, 02 Dec 2015 20:35:33 GMT"}],"recorded_with":"VCR 3.0.0"}