{"http_interactions":[{"request":{"method":"get","uri":"https://api.statuspage.io/v1/pages/fz4xvqlmr08r/incidents/scheduled.json","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["<AUTH_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "Etag":["\"9a347aa107fd07b7357df3b15d91351a\""], "Status":["200 OK"], "X-Statuspage-Version":["886b142ad7be0a1f02912da2f8fe459af199399f"]},"body":{"encoding":"ASCII-8BIT","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Fri, 27 Nov 2015 12:25:35 GMT"}],"recorded_with":"VCR 3.0.0"}